.custom-pink{
	background-color: #fde6d8 !important;
}

.custom-pink1{
	background-color: #AE6873 !important;
}

.custom-pink-text{
	color: #fde6d8 !important;
}

.black-text{
	color:black;
}

a .black-text:hover{
	opacity: 0.5px;
}

.dropdown-content li {
	clear:none!important;
}

select{
	background-color: white !important;
}

body{
	background-color: #fde6d8 !important;
}