.custom-pink{
	background-color: #fde6d8 !important;
}

.custom-pink1{
	background-color: #AE6873 !important;
}

.custom-pink-text{
	color: #fde6d8 !important;
}

<<<<<<< HEAD
.black-text{
	color:black;
}

a .black-text:hover{
	opacity: 0.5px;
}

.dropdown-content li {
	clear:none!important;
=======
.custom-pink1-text{
	color: #AE6873 !important;
>>>>>>> c7dae11690cc1dd885d96ad08c1c9fe0a27c23df
}

select{
	background-color: white !important;
}

body{
	background-color: #fde6d8 !important;
}